@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    
        <h2>Inmobiliaria</h2>
        
    
    
        <h3> Menu</h3>
        <ul>
            <li><a class="nav-link" href="Inmuebles/Index">Inmuebles</a></li>
            <li> <a class="nav-link" href="Propietarios/Index">Propietarios</a></li>
            <li> <a class="nav-link" href="Inquilinos/Index">Inquilinos</a></li>
        </ul>
    
</div>
