@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    
        <h2>Inmobiliaria</h2>
        
    
    
        <h3>@ViewBag.Saludo</h3>

        <ul>
            <li><a class="nav-link" href="Home/Galeria">Ver Propiedades</a></li>
            <li><a class="nav-link" href="Home/AlgoRestringido">Empleados</a></li>
            <li> <a class="nav-link" href="Home/Privado">Propietarios</a></li>
            <li> <a class="nav-link" href="Home/SuperRestringido">Administrador</a></li> 
            <li><a class="nav-link" href="Usuario/Logout">Cerrar Sesion</a></li>
        </ul>
    
</div>
