
@{
    ViewData["Title"] = "Privado";
}

<h4>
    <b>
        @foreach (var u in User.Claims)
        {
            @u.Value<br />}
    </b>
</h4>

<li>@Html.ActionLink("Editar Perfil", "EditarPerfil", new { email = User.Identity.Name })</li>